/* 
Selector {
    Property: value;
} 
*/
* {
    text-align: right;
}
body {
    background-image: url(../img/moon.jpg);
    background-size: cover;
}
h2 {
    color: red;
}

/*h2 + p:hover {*/
/*
    h2 + p {
    color: #AA4139;
    text-align: center;
    /* border: 5px solid rgb(255,176,170); */
    /*
    border: 5px solid rgba(255,176,170,1);
    cursor: pointer;
    */
    /* background-color: #4d95c6;  */
/*}
*/
p {
    color: pink /*!important*/;
    text-transform: uppercase;
    text-decoration: underline;
    line-height: 20px;
    font-style:italic;
    font-weight: bold;
    font-size: 100%;
    font-family: "Times New Roman", Georgia;
    cursor: pointer;
}

p {
    color: green;
    font-family: 'Roboto', sans-serif, cursive;
}

img {
    /*float: left;*/
    float: right;
}

footer {
    clear: both;
    text-align: center;
}

li {
    list-style: none;
    display: inline-block;
    color: #4d95c6;
}

.webtext:first-child {
    border: 5px dashed green;
}

.active {
    color: red;
}

#div1 {
    background: rgba(0,0,255,0.2);
}

#div2 {
    background: rgba(255,0,255,0.2);
}